@media only screen and (min-width: 1048px) {
    .navbar__menu {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        background-color: white;
    }

    .navbar__hamburger {
        display: none;
    }

    .navbar__menu--hidden {
        transform: scaleY(1);
    }

    .nav__item {
        margin: 0;
    }

    .nav__link {
        padding: 0 16px;
    }

    .zkušební-verze {
        display: inline;
        box-sizing: border-box;
        color: white;
        background-color: var(--orange-color);
        padding: .5rem .75rem;
        border: 5px solid var(--orange-color);
        border-radius: 32px;
    }

    .zkušební-verze:hover {
        color: var(--darkblue-color);
        background-color: var(--opacity);
    }

    .nav__stick {
        width: 2px;
        height: 100%;
        margin: 0 16px;
        background-color: rgb(227, 227, 227);
    }

    .section__představení {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .section__popis {
        flex: 0 0 40%;
    }

    .section-img {
        flex: 0 0 50%;
    }

    .header__upper-section {
        margin: 0 10% 8px 10%;
    }

    .navbar {
        margin: 0 10%;
    }

    section, footer {
        padding: 32px 10%;
    }

    .button--nomargin {
        margin-left: 0;
        margin-right: 0;
    }

    .výhody__item {
        flex: 0 0 20%;
    }

    .výhody__dots {
        width: max-content;
        margin: 0 auto;
    }

    .výhody__dot:nth-child(1) {
        background-color: var(--darkblue-color);
    }

    .výhody__dot {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 1px solid var(--darkblue-color);
        margin-right: .25rem;
    }

    .slider {
        overflow-x: auto;
    }

    .card {
        flex: 0 0 calc(25% - 24px);
    }

    .useknutý-paragraf {
        white-space: normal;
    }

    .uživatelé {
        display: flex;
    }

    .aktuality__container {
        display: flex;
        justify-content: space-between;
    }

    .aktualita {
        flex: 0 0 45%;
    }

    .footer_nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__column {
        flex: 0 0 20%;
        text-align: left;
    }   

    .footer img {
        margin-top: 26px;
    }

    .footer__heading {
        text-align: left;
    }

    .footer__item {
        text-align: left;
    }

    .footer__end-section {
        flex-direction: row;
    }

    .footer__tvůrce {
        margin-left: auto;
    }

    .page-header {
        padding: 0 10%;
    }

    .funkce-header {
        padding: 0 10%;
    }

    .uživatel--kontakt {
        display: flex;
    }

    .fakturační-údaje {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .fakturační-údaje__adresa, .fakturační-údaje__adresa h2 {
        flex: 0 0 30%;
        text-align: left;
    }

    .fakturační-údaje__mapa {
        flex: 0 0 60%;
        margin: 0;
    }

    .section-nopadding {
        gap: 20%;
    }

    .funkce-slider {
        padding: 64px;
        flex-wrap: wrap;
        margin-left: calc(10% - 64px);
        margin-right: calc(10% - 64px);
        border-radius: 32px;
        gap: 32px;
    }

    .funkce-slider__card:hover {
        transform: scale(1.1);
        transition: .25s;
    }

    .navbar__arrow {
        display: inline-block;
        margin-left: .5rem;
    }

    .nav__item:hover .nav__link {
        border-bottom: 3px solid var(--orange-color);
    }
}