:root {
    font-family: 'Hanken Grotesk', sans-serif;
    --orange-color: rgb(245, 132, 31);
    --lightgray-color: rgb(245, 245, 245);
    --lightblue-color: rgb(241, 249, 252);
    --blue-color: rgb(45, 66, 117);
    --darkblue-color: rgb(22, 33, 60);
    --skyblue-color: rgb(142, 202, 230);
    --opacity: rgba(0, 0, 0, 0);
}

*, *:visited {
    color: var(--darkblue-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

section, footer {
    padding: 32px 5%;
}

.section-nopadding {
    padding-top: 0;
}

h2 {
    text-align: center;
    margin-bottom: 32px;
}

h3 {
    margin: 16px 0;
}

.header > div {
    background-color: var(--lightgray-color);
}

.header__upper-section {
    padding: 1rem 0;
    margin: 0 5% 8px 5%;
    display: flex;
    justify-content: space-between;
}

.header__contacts {
    display: flex;
    gap: 1rem;
}

.navbar {
    margin: 0px 5%;
    align-items: center;
}

.navbar__menu {
    position: absolute;
    top: 53px;
    left: -5%;
    right: -5%;
    padding: 8px 0;
    text-align: center;
    background-color: var(--lightgray-color);
    transform-origin: top;
    transform: scaleY(0);
    transition: .25s;
}

.navbar__menu.active {
    transform: scaleY(1);
    transition: .25s;
}

.navbar__arrow {
    display: none;
}

.nav__item {
    font-weight: 700;
    margin-bottom: .5rem;
}

.header__text {
    display: none;
}

.section-img {
    border-radius: 24px;
    overflow: hidden;
}

div > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__výhody {
    margin: 1rem 0;
}

.section__tick {
    margin-right: 1rem;
}

.section__sponzoři {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.section__sponzoři > img {
    width: min-content;
}

.button {
    display: block;
    box-sizing: border-box;
    width: max-content;
    font-weight: bold;
    color: white;
    background-color: var(--orange-color);
    padding: 1rem 1.5rem;
    border: 5px solid var(--orange-color);
    border-radius: 32px;
    margin: 32px auto 0 auto;
}

.button:hover {
    color: var(--blue-color);
    background-color: var(--opacity);
}

.button--bottom-margin {
    margin-bottom: 32px;
}

.button--alternative {
    color: var(--darkblue-color);
    background-color: white;
}

.button--alternative:hover {
    color: white;
    background-color: var(--orange-color);
}

.výhody {
    background-color: var(--lightblue-color);
}

.výhody__item > img {
    display: block;
    width: 120px;
    margin: 2rem auto;
}

.výhody__caption {
    text-align: center;
    font-weight: bold;
    color: var(--blue-color);
}

.výhody__bar {
    width: 50%;
    border: 1px dashed var(--skyblue-color);
    margin: 32px auto 0 auto;
}


.slider {
    box-sizing: border-box;
    margin: 32px 0;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}

.card {
    box-sizing: border-box;
    flex: 0 0 328px;
    padding: 2rem;
    background-color: white;
}

.card__heading {
    margin-bottom: 2rem;
}

.useknuté-paragrafy {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.useknutý-paragraf {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 16px;
}

.img-portrét {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 32px auto 16px auto;
}

.uživatel__caption {
    text-align: center;
}

.uživatel__jméno {
    margin-top: 16px;
}

.uživatel__zaměstnání {
    font-style: italic;
}

.uživatel__kontakt {
    display: block;
}

.aktuality {
    background-color: var(--lightgray-color);
}

.aktualita {
    margin-top: 32px;
    text-align: center;
}

.aktualita__caption > * {
    display: block;
    margin-top: 16px;
}

.heading {
    font-weight: bold;
    font-size: 1.1rem;
}

.icon {
    margin-right: .5rem;
}

.footer, .footer * {
    text-align: center;
    color: var(--skyblue-color);
    background-color: var(--darkblue-color);
}

.footer__heading {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 32px;
}

.footer__item {
    margin: 8px 0;
}

.footer img {
    text-align: left;
}

.footer__contact {
    display: block;
}

.footer__end-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid var(--skyblue-color);
}

.page-header {
    padding: 0 16px;
    margin-bottom: 32px;
}

.page-header__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page-header__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--orange-color);
}

.funkce-header {
    padding: 0 16px;
    text-align: center;
}

.funkce-header__tutoriály {
    display: block;
    margin-top: 16px;
}

.funkce-slider {
    background-color: var(--lightgray-color);
}

.funkce-slider__card {
    position: relative;
}


.funkce-slider__card:hover h3 {
    color: var(--darkblue-color);
}

.funkce-slider__card:hover::after {
    content: url(./svgs/playButton.svg);
    position: absolute;
    bottom: -20px;
    left: 32px;
}

.feedback {
    text-align: center;
}

.feedback__email {
    display: block;
    margin-top: 16px;
    font-weight: bold;
}

.fakturační-údaje {
    text-align: center;
}

.fakturační-údaje__mapa {
    width: 100%;
    margin-top: 32px;
}

.fakturační-údaje__adresa > * {
    margin: 8px 0;
}

.orange {
    color: var(--orange-color);
}
